[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.3.3"
numpy = "==2.0.2"
matplotlib = "==3.10.9"
seaborn = "==0.13.2"
scikit-learn = "==1.7.2"
imbalanced-learn = "==0.14.2"
joblib = "==1.5.3"
streamlit = "==1.58.0"
sastrawi = "==1.0.1"
nltk = "==3.9.4"

[dev-packages]

[requires]
python_version = "3.10"
